.search{
  position: absolute;
  top: 25px;
  z-index: 1;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  .searchLeft{
    flex: 1;
    width: calc(100% - 25px);
    height: 34px;
    background-color: #ffffff;
    display: flex;
    border-radius: 3px;
    align-items: center;
    .location{
      font-size: 14px;
      line-height: 34px;
      padding: 0 10px;
    }
    .form{
      border-left: 1px solid #e5e5e5;
      color: #9c9fa1;
    }
  }
  .searchRight{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
    .icon{
      font-size: 25px;
      filter: drop-shadow(25px 25px white);
      position: relative;
      top: -24px;
      left: -25px;
    }
  }
}
.nav{
  display: flex;
  height: 100px;
  padding: 10px 0;
  div{
    flex: 1;
    font-size: 13px;
    text-align: center;
    img{
      max-width: 48px;
      max-height: 48px;
      margin: 0 auto;
    }
  }
}
.group{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f6f5f6;
  .groupTop{
    color: red;
    display: flex;
    justify-content:space-between;
    align-items: center;
    h3{
      color: #333333;
    }
    p{
      color: #787d82;
    }
  }
  .groupGrid{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    h3{
      font-size: 13px;
    }
    p{
      font-size: 12px;
      color: #999999;
    }
    img{
      width: 55px;
      height: 55px;
    }
  }
}
.news{
  padding: 10px;
  .newsItem{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    img{
      width: 120px;
      height: 90px;
      margin-right: 10px;
    }
    .newsItemRight{
      width: calc(100% - 130px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3{
        margin: 0;
        font-size: 14px;
      }
      .rightBottom{
        display: flex;
        justify-content: space-between;
        color: #9c9fa1;
        font-size: 12px;
      }
    }
  }
}